body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  text-align: center;
}

.hidden {
  display: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#giftBox {
  width: 150px;
  cursor: pointer;
}
